<h1>Dein Geschenk</h1>
<div class="center hero-unit">
	<h2>Ausflug zum Heinz Nixdorf Museum für Computergeschichte</h2>
		<p>Wir alle, Dorit, Franziska, Martin, Mathias und Selina möchten dich in die Welt der Computergeschichte
			einladen.</p>
		<p>Ob nun die automatische Telefonvermittlung, </p>
		<%= link_to image_tag("autom_telefonvermittlung.jpg", alt: "Telefon") %>	
		<p>die ersten Computer</p>
		<%= link_to image_tag("die_ersten_computer.jpg", alt: "Computer") %>	
		<p>oder auch Lochkarten</p>
		<%= link_to image_tag("lochkartensysteme.jpg", alt: "Lochkarten") %>	
		<p>aber auch neue Technologien kommen hier nicht zu kurz</p>
		<%= link_to image_tag("KI.jpg", alt: "KI") %>	
		
	<h3>Und du kannst dir eine Führung aussuchen. Folgende stehen zur Auswahl:</h3>
		<p><%= link_to "Vom PC zur digitalen Welt", 'http://www.hnf.de/besucherinfo/fuehrungen/vom-pc-zur-digitalen-welt.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Rechnen - Geschichte einer Kulturtechnik<", 'http://www.hnf.de/besucherinfo/fuehrungen/rechnen-geschichte-einer-kulturtechnik.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Schreiben - Geschichte einer Kulturtechnik", 'http://www.hnf.de/besucherinfo/fuehrungen/schreiben-geschichte-einer-kulturtechnik.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Erfinder und Unternehmer aus der Geschichte der Informationstechnik", 'http://www.hnf.de/besucherinfo/fuehrungen/erfinder-und-unternehmer-aus-der-geschichte-der-informationstechnik.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Frauenarbeit in der Informationstechnik", 'http://www.hnf.de/besucherinfo/fuehrungen/frauenarbeit-in-der-informationstechnik.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Die Geschichte der Nixdorf Computer AG", 'http://www.hnf.de/besucherinfo/fuehrungen/die-geschichte-der-nixdorf-computer-ag.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Kommunikation - von der Antike bis zur Gegenwart", 'http://www.hnf.de/besucherinfo/fuehrungen/kommunikation-von-der-antike-bis-zur-gegenwart.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Die Welt der Codes und Chiffren", 'http://www.hnf.de/besucherinfo/fuehrungen/die-welt-der-codes-und-chiffren.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Genial und Geheim - Führung zu Alan Turing", 'http://www.hnf.de/besucherinfo/fuehrungen/genial-und-geheim-fuehrung-zu-alan-turing.html', class: "btn btn-large btn-info" %></p>
		<p><%= link_to "Max Planck Science Tunnel", 'http://www.hnf.de/besucherinfo/fuehrungen/max-planck-science-tunnel.html', class: "btn btn-large btn-info" %></p>
		
</div>

<div class="center hero-unit">
	<h2>Und anschließend gehen wir in ein Restaurant und stoßen noch einmal auf dein Wohl an!</h2>		
</div>